If:
  PathMatch: sim/.*
CompileFlags:
  CompilationDatabase: build/sim

---
If:
  PathMatch: sw/device/.*
CompileFlags:
  CompilationDatabase: build/device

---
If:
  PathMatch: sw/(host|common)/.*
CompileFlags:
  CompilationDatabase: build/host
