[submodule "submodules/ibex"]
	path = submodules/ibex
	url = https://github.com/jorendumoulin/ibex.git
[submodule "submodules/printf"]
	path = submodules/printf
	url = https://github.com/eyalroz/printf.git
[submodule "submodules/cva6"]
	path = submodules/cva6
	url = https://github.com/openhwgroup/cva6.git
[submodule "submodules/executorch"]
	path = submodules/executorch
	url = https://github.com/pytorch/executorch.git
