[submodule "submodules/ibex"]
	path = submodules/ibex
	url = git@github.com:jorendumoulin/ibex.git
[submodule "submodules/printf"]
	path = submodules/printf
	url = git@github.com:eyalroz/printf
[submodule "submodules/picolibc"]
	path = submodules/picolibc
	url = git@github.com:picolibc/picolibc
[submodule "submodules/cva6"]
	path = submodules/cva6
	url = git@github.com:openhwgroup/cva6
[submodule "submodules/executorch"]
	path = submodules/executorch
	url = git@github.com:pytorch/executorch.git
